RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^([^/]+)/? index.php?page=$1 [L,QSA]
RewriteCond %{QUERY_STRING} (.*?)page=(\w+)(.*)



