@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&subset=latin-ext');
@import url('../libraries/Fileuploader/jquery.fileuploader.css');

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-image: url(../img/background/background.png);
  background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

main{
  display: flex;
}

p{
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0px;
}

a{
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: rgb(42, 119, 233);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

a:hover{
  color: #7b90ef;
}

ul{
  padding: 0px;
}

button{
  font-family: 'Oswald', sans-serif;
  color: white;
  border: none;
  background-color: rgb(42, 119, 233);
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

button:hover{
  background: #7b90ef;
}

label{
  font-family: 'Oswald', sans-serif;
}

textarea{
  font-family: 'Oswald', sans-serif;
  display: block;
  resize: none;
  width: 100%;
  height: 150px;
  padding: 15px;
  box-sizing: border-box;
}

input{
  font-family: 'Oswald', sans-serif;
}

input[type="text"], input[type="password"], input[type="email"]{
  width: 100%;
  height: 45px;
  font-size: 1.1em;
  display: block;
  padding-left: 15px;
  box-sizing: border-box;
}

input[type="checkbox"]{
  margin: 0px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

input[type="submit"]{
  width: 100%;
  height: 45px;
  padding: 0px;
  background-color: rgb(42, 119, 233);
  color: white;
  border: none;
  font-size: 1.3em;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

input[type="submit"]:hover{
  background: #7b90ef;
}

header{
  background-color: rgb(26, 26, 27);
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
}

.main-nav{
  display: flex;
  justify-content: space-between;
}

.main-nav #mobile_menu{
  display: none;
}

.main-nav ul:nth-child(2){
  display: none;
}

.main-nav  ul{
  display: flex;
  align-content: center;
  padding: 0 40px;
}

.main-nav li{
  list-style: none;
  padding-right: 22px;
}

.main-nav li:last-child{
  padding-right: 0px;
}

.main-nav i{
  padding-right: 5px;
}

.main-nav a{
  font-size: 1.2em;
  height: 42px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.post-btn{
  padding: 8px 38px;
  font-size: 1.1em;
}

#panel{
  display: none;
}

#mobile_menu ul{
  padding-top: 72px;
  padding-left: 40px;
}

#mobile_menu li{
  margin-bottom: 25px;
  list-style-type: none;
}

#mobile_menu a{
  color: white;
  font-size: 2.5em;
  display: flex;
  align-items: center;
}

#mobile_menu i{
  font-size: 1em;
  padding-right: 15px;
}

.sub-header{
  padding-top: 100px;
  padding-bottom: 26px;
  padding-left: 40px;
  display: flex;
  align-items: center;
}

.sub-header img{
  height: 100px;
}

.sub-header a{
  color: rgb(26, 26, 27);
  padding-right: 35px;
}

.sub-header a:nth-child(2){
  border-left: solid 2px rgb(26, 26, 27);
  padding-left: 35px;
}

.sub-header a:nth-child(2):hover{
  padding-left: 45px;
}


.sub-header p{
  height: 98px;
  width: 100%;
  font-size: 55px;
  font-style: italic;
  font-weight: lighter;
  padding: 0px;
  margin: 0px;
}

.sort-nav{
  width: 100%;
  background-color: white;
  display: flex;
  border-bottom: 1px solid rgb(157, 157, 157);
}

.sort-nav ul{
  display: flex;
  align-content: center;
  padding: 0 40px;
}
.sort-nav li{
  list-style: none;
  padding-right: 22px;
}

.sort-nav a{
  font-size: 1.2em;
}

#login_popup{
  width: 50vw;
  background-color: white;
  border: 1px solid rgb(157, 157, 157);
}

.form-box{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 50px;
}

.form-box h2{
  margin-bottom: 35px;
}

.form-box input{
  margin-top: 10px;
}

.register-col{
  width: 50%;
  padding-right: 50px;
  border-right: 1px solid rgb(157, 157, 157);
}

.login-col{
  width: 50%;
  padding-left: 50px;
}

.login-col a{
  display: block;
  float: right;
}

.Checkbox-Container{
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.Checkbox-Container label{
  font-size: 1.1em;
  padding-left: 15px;
}

#post_popup{
  width: 50vw;
  background-color: white;
  border: 1px solid rgb(157, 157, 157);
}

.post-form-box{
  padding: 30px 50px;
}

.post-form-box input[type="text"], input[type="password"], input[type="email"], textarea{
  margin-bottom: 15px;
}

.box-close {
  position: absolute;
  right: 15px;
  top: 15px;
}

#submission{
  width: 100%;
}

#sidebar{
  padding: 40px;
  height: 100%;
  width: 350px;
  background-color: white;
  border-left: 1px solid rgb(157, 157, 157);
  border-bottom: 1px solid rgb(157, 157, 157);
}

#sidebar h2{
  margin-top: 25px;
}

#sidebar form{
  display: flex;
  align-items: center;
}

#sidebar input[type="text"]{
  margin: 0px;
  width: calc(100% - 45px);
}

#sidebar button{
  width: 45px;
  height: 45px;
}

#sidebar .sidebar-btn{
  width: 100%;
  font-size: 1.2em;
  margin-top: 25px;
}

#sidebar li{
  list-style-type: none;
}

#sidebar span{
  float: right;
}

#sidebar .box-close{
  display: none;
}


@media only screen and (max-width: 1470px) {

  .form-box{
    display: block;
  }
  .register-col{
    width: 100%;
    padding-right: 0px;
    padding-bottom: 50px;
    border-right: none;
    border-bottom: 1px solid rgb(157, 157, 157);
  }

  .login-col{
    width: 100%;
    padding-left: 0px;
    padding-top: 50px;
  }
}

/* Media Queries */

@media only screen and (max-width: 960px), (min-device-width : 320px) and (max-device-width : 620px) {
  /* Mobile Navigation */
  .main-nav .desktop_menu {
    display: none;
    padding: 0px;
    margin: 0px;
  }

  .main-nav #panel {
    display: block;
    float: left;
  }

  .main-nav ul:nth-child(2){
    display: block;
  }

  .main-nav i{
    font-size: 3.2em;
  }

  .main-nav ul:last-child{
    display: none;
  }

  /* Login/Register, Fileupload */
  #login_popup, #post_popup{
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }

  .box-close i{
    font-size: 3.5em;
  }

  #login_popup h2{
    font-size: 3em;
    text-align: center;
  }

  #login_popup a,{
    font-size: 2em;
  }

  #post_popup a{
    font-size: 1em;
  }

  #login_popup .Checkbox-Container a{
    font-size: 1em;
  }

  .post-form-box-header h2{
    font-size: 3em;
  }

  .post-form-box-header h3{
    font-size: 2em;
  }

  #post_popup p{
    font-size: 2em;
  }

  #login_popup label, #post_popup label{
    font-size: 2em;
  }

  input[type="text"], input[type="password"], input[type="email"] {
    border: 4px solid rgb(157, 157, 157);
    height: 70px;
    font-size: 1.7em;
  }

  input[type="submit"] {
    height: 100px;
    font-size: 2em;
  }

  input[type="checkbox"]{
    height: 40px;
    width: 40px;
  }

  textarea{
    border: 4px solid rgb(157, 157, 157);
    font-size: 1.7em;
  }

  .fileuploader span{
    font-size: 1.5em;
  }

  .fileuploader-input{
    height: 74px;
  }

  .fileuploader-input-caption{
    height: 72px;
    border: 4px solid rgb(157, 157, 157)!important;
  }

  .fileuploader-input-button{
    padding: 18px 20px !important;
  }

  #sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding: 0px;
    transition: 0.5s;
  }

  #sidebar .box-close{
    display: block;
  }

  .sidebar-wrapper{
    padding: 80px 50px;
  }
}

@media only screen and (max-width: 401px), (min-device-width : 320px) and (max-device-width : 480px) {
  .Checkbox-Container label{
    font-size: 0.8em;
  }
}


@media only screen and (max-width: 590px) {
  .sub-header img{
    height: 75px;
  }
  .sub-header p{
    height:78px;
    font-size: 42px;
  }
}

/* Slideout CSS */

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 500px;
  min-height: 100vh;
  background-color: rgb(26, 26, 27);
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}



