@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('../libraries/Fileuploader/jquery.fileuploader.css');

html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-image: url(../img/background/background.png);
  background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Oswald', sans-serif;
}

main{
  display: flex;
}

p{
  font-family: 'Oswald', sans-serif;
  margin-bottom: 0px;
}

a{
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  color: rgb(42, 119, 233);
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

ul{
  padding: 0px;
}

button{
  font-family: 'Oswald', sans-serif;
  color: white;
  border: none;
  background-color: rgb(42, 119, 233);
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

button:hover{
  background: #7b90ef;
}

label{
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
}

textarea{
  font-family: 'Roboto', sans-serif;
  display: block;
  resize: none;
  width: 100%;
  height: 150px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1.1em;
}

input{
  font-family: 'Oswald', sans-serif;
}

input[type="text"], input[type="password"], input[type="email"]{
  width: 100%;
  height: 45px;
  font-size: 1.1em;
  display: block;
  padding-left: 15px;
  box-sizing: border-box;
}

input[type="checkbox"], input[type="radio"]{
  margin: 0px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}


input[type="submit"]{
  width: 100%;
  height: 45px;
  padding: 0px;
  background-color: rgb(42, 119, 233);
  color: white;
  border: none;
  font-size: 1.3em;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

input[type="submit"]:hover{
  background: #7b90ef;
}

header{
  background-color: rgb(26, 26, 27);
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
}

main{
  background-color: white;
}

.main-nav{
  display: flex;
  justify-content: space-between;
}

.main-nav ul:nth-child(2){
  display: none;
}

.main-nav ul:nth-child(3){
  display: none;
}


.main-nav  ul{
  display: flex;
  align-content: center;
  padding: 0 40px;
}

.main-nav li{
  list-style: none;
  padding-right: 22px;
}

.main-nav li:last-child{
  padding-right: 0px;
}

.main-nav i{
  padding-right: 5px;
}

.main-nav a{
  font-size: 1.2em;
  height: 42px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.main-nav .mobile_btn{
  display: none;
}

.post-btn{
  padding: 8px 38px;
  font-size: 1.1em;
}

#mobile_menu{
  display: none;
}

#mobile_menu ul{
  padding-top: 72px;
  padding-left: 40px;
}

#mobile_menu li{
  margin-top: 50px;
  list-style-type: none;
}

#mobile_menu a{
  color: white;
  font-size: 4em;
  display: flex;
  align-items: center;
}

#mobile_menu i{
  font-size: 1em;
  padding-right: 15px;
}

.sub-header{
  padding-top: 100px;
  padding-bottom: 26px;
  padding-left: 40px;
  display: flex;
  align-items: center;
}

.sub-header img{
  height: 100px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}
.sub-header img:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.sub-header a{
  color: rgb(26, 26, 27);
  padding-right: 35px;
}

.sub-header a:nth-child(2){
  border-left: solid 2px rgb(26, 26, 27);
  padding-left: 35px;
}

.sub-header a:nth-child(2):hover{
  padding-left: 45px;
}

.sub-header p{
  height: 100px;
  font-size: 58px;
  font-style: italic;
  font-weight: lighter;
  padding: 0px;
  margin: 0px;
}

.sort-nav{
  width: 100%;
  background-color: white;
  display: flex;
  border-bottom: 1px solid rgb(157, 157, 157);
}

.sort-nav ul{
  display: flex;
  align-content: center;
  padding: 0 40px;
}

.sort-nav li{
  list-style: none;
  padding-right: 22px;
}

.sort-nav a{
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

#login_popup{
  width: 50vw;
  background-color: white;
  border: 1px solid rgb(157, 157, 157);
}

.form-box{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 50px;
}

.form-box h2{
  margin-bottom: 35px;
}

.form-box input{
  margin-top: 10px;
}

.register-col{
  width: 50%;
  padding-right: 50px;
  border-right: 1px solid rgb(157, 157, 157);
}

.login-col{
  width: 50%;
  padding-left: 50px;
}

.login-col a{
  display: block;
  float: right;
}

.Checkbox-Container{
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.Checkbox-Container label{
  font-size: 1.1em;
  padding-left: 15px;
}

#post_popup{
  width: 50vw;
  background-color: white;
  border: 1px solid rgb(157, 157, 157);
}

.post-form-box{
  padding: 30px 50px;
}

.post-form-box input[type="text"], input[type="password"], input[type="email"], textarea{
  margin-bottom: 15px;
}

.box-close {
  position: absolute;
  right: 15px;
  top: 15px;
}

#reply_popup{
  width: 50vw;
  border: 1px solid rgb(157, 157, 157);
}

.reply-box{
  background-color: white;
  padding: 30px 50px;
}

.reply-box .parent{
  border-bottom: 1px solid rgb(157, 157, 157);
  margin-bottom: 40px;
}

#submissions{
  width: 100%;
  border-right: 1px solid rgb(157, 157, 157);
}

.article{
  background-color: white;
  border-bottom: 1px solid rgb(157, 157, 157);
}

.article-wrapper{
  display: flex;
  padding: 25px 40px;
}

.votes{
  width: 45px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-right: 35px;
  border-right: 1px solid rgb(157, 157, 157);
}

.votes h3{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3em;
}

.votes i{
  font-size: 1.8em;
  border: 1px solid;
  border-radius: 50%;
}

.upvote{
  color: green;
  border-color: green;

}

.upvote:hover > i{
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  background-color: green;
  color: white;
}

.upvoted > i{
  background-color: green;
  color: white;
}

.downvote{
  color: red;
  border-color: red;
}

.downvote:hover > i{
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  background-color: red;
  color: white;
}

.downvoted > i{
  background-color: red;
  color: white;
}

.thumbnail{
  width: 100px;
  height: 100px;
  padding: 0px 35px;
}

.thumbnail img{
  height: 100px;
  width: 100px;
}

.article-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.article-title h2{
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1em;
}

.article-info{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.article-info p{
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
  padding: 0px;
  margin: 0px;
}

.article-info a{
  font-family: 'Roboto', sans-serif;
}

.article-bottom{
  display: flex;
  justify-content: space-between;
}

.article-bottom ul{
  display: flex;
  float: right;
  margin-bottom: 0px;
}

.article-bottom li{
  list-style-type: none;
  padding-left: 15px;
}

.article-links a{
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  color: black;
}

.article-links i{
  padding-left: 5px;
}

.article-bottom .article-links-mobile{
  display: none;
}

#sidebar{
  padding: 40px;
  height: 100%;
  width: 350px;
  background-color: white;
  border-bottom: 1px solid rgb(157, 157, 157);
}

#sidebar i{
  font-style: normal;
}

#sidebar h2{
  margin-top: 25px;
}

#sidebar form{
  display: flex;
  align-items: center;
}

#sidebar input[type="text"]{
  margin: 0px;
  width: calc(100% - 45px);
}

#sidebar button{
  width: 45px;
  height: 45px;
}

#sidebar .sidebar-btn{
  width: 100%;
  font-size: 1.2em;
  margin-top: 25px;
}

#sidebar li{
  list-style-type: none;
}

#sidebar span{
  float: right;
}

#sidebar .box-close{
  display: none;
}

.comments-sort{
  padding: 25px 40px;
  display: flex;
  align-items: center;
}

.comments-sort i{
  font-style: normal;
  padding-left: 25px;
  padding-top: 4px;
}

.comments-sort select{
  font-family: 'Oswald', sans-serif;
  margin-top: 4px;
  margin-left: 5px;
}

.comments-form{
  padding: 0px 40px;
}


.comments-form button{
  float: right;
}

.comments-form-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.parent{
  font-family: 'Roboto', sans-serif;
  margin: 20px 40px;
  border-bottom: 1px solid rgb(157, 157, 157);
  border-left: 1px solid rgb(157, 157, 157);
  border-right: 1px solid rgb(157, 157, 157);
}

.parent p{
  line-height: 1.3;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.comment-wrapper{
  display: flex;
  padding: 10px 0px;
  border-top: 1px solid rgb(157, 157, 157);
}

.comment-votes{
  display: flex;
  flex-direction: column;
}

.comment-content{
  padding: 0px 15px;
}

.comment-content a{
  padding-right: 25px;
}

.comment-content i{
  font-size: 0.8em;
}

.child{
  margin-left: 25px;
  border-left: 1px solid rgb(157, 157, 157);
}

#create_subsite{
  display: flex;
  background-color: white;
  padding: 40px;
}

#create_subsite h2{
  font-weight: normal;
  font-size: 2em;
}

#create_subsite p{
  padding: 0px;
  margin: 0px;
}

#create_subsite select{
  width: 100%;
  height: 50px;
  font-size: 1.3em;
  cursor: pointer;
}

#create_subsite .block_label{
  font-size: 1.8em;
  display: block;
  margin-top: 25px;
}

#create_subsite i{
  font-style: normal;
  font-size: 1em;
  padding-left: 25px;
}

.radio_label{
  display: inline-block;
  width: 100px;
  padding-left: 10px;
}

.check_label{
  padding-left: 10px;
}

.create_subsite_general{
  width: 50%;
  padding-right: 40px;
}

.create_subsite_sidebar{
  width: 50%;
  padding-left: 40px;
}



@media only screen and (max-width: 1400px) {

  .article-wrapper{
    align-items: center;
  }

  .article-info{
    display: none;
  }

  .article-links{
    display: none;
  }

  .article-bottom .article-links-mobile{
    display: block;
  }

  .article-links-mobile i{
    font-size: 3em;
    color: black;
  }
}


@media only screen and (max-width: 1470px) {

  .form-box{
    display: block;
  }
  .register-col{
    width: 100%;
    padding-right: 0px;
    padding-bottom: 50px;
    border-right: none;
    border-bottom: 1px solid rgb(157, 157, 157);
  }

  .login-col{
    width: 100%;
    padding-left: 0px;
    padding-top: 50px;
  }
}

@media only screen and (max-width: 960px), (min-device-width : 320px) and (max-device-width : 620px) {
  /* Mobile Navigation */
  .main-nav .desktop_menu {
    display: none;
    padding: 0px;
    margin: 0px;
  }

  .main-nav{
    height: 112px;
  }

  .main-nav a{
    font-size: 2em;
    height: 86px;
  }

  .main-nav #panel {
    display: block;
    float: left;
  }

  .main-nav ul:nth-child(2){
    display: block;
  }

  .main-nav ul:nth-child(3){
    display: block;
  }

  .main-nav i{
    font-size: 3.2em;
  }

  .main-nav ul:last-child{
    display: none;
  }

  .sub-header{
    padding-top: 138px;
    justify-content: center;
  }

  .sub-header img{
    height: 175px;
  }

  .sub-header a:nth-child(2){
    display: none;
  }

  .main-nav .mobile_btn{
    display: block;
  }

  #mobile_menu{
    background-color: rgb(26, 26, 27);
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 0px;
    transition: 0.5s;
  }

  #mobile_menu .box-close{
    display: block;
    right: 50px;
  }

  #mobile_menu .box-close i{
    font-size: 2em;
  }

  /* Login/Register, Fileupload */
  #login_popup, #post_popup{
    width: 100%;
    height: 100%;
  }

  #login_popup_wrapper, #post_popup_wrapper{
    height: auto !important;
  }

  #login_popup h2{
    font-size: 3em;
    text-align: center;
  }

  #login_popup a{
    font-size: 2em;
  }

  #post_popup i{
    font-size: 5em;
  }

  #login_popup i{
    font-size: 2.5em;
  }

  #login_popup .Checkbox-Container a{
    font-size: 1em;
  }

  .post-form-box-header h2{
    font-size: 3em;
  }

  .post-form-box-header h3{
    font-size: 2em;
  }

  #post_popup p{
    font-size: 2em;
  }

  #login_popup label, #post_popup label{
    font-size: 2em;
  }

  input[type="text"], input[type="password"], input[type="email"] {
    border: 4px solid rgb(157, 157, 157);
    height: 70px;
    font-size: 1.7em;
  }

  input[type="submit"] {
    height: 100px;
    font-size: 2em;
  }

  input[type="checkbox"]{
    height: 40px;
    width: 40px;
  }

  textarea{
    border: 4px solid rgb(157, 157, 157);
    font-size: 1.7em;
  }

  .fileuploader span{
    font-size: 1.5em;
  }

  .fileuploader-input{
    height: 74px;
  }

  .fileuploader-input-caption{
    height: 72px;
    border: 4px solid rgb(157, 157, 157)!important;
  }

  .fileuploader-input-button{
    padding: 18px 20px !important;
  }

  /* Sidebar */

  #sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding: 0px;
    transition: 0.5s;
  }

  #sidebar .box-close{
    display: block;
    left: 50px;
  }

  #sidebar .box-close i{
    font-size: 3.5em;
  }

  .sidebar-wrapper{
    padding: 80px 50px;
  }

  #sidebar h2{
    font-size: 3em;
  }

  #sidebar i{
    font-size: 2em;
  }

  #sidebar span{
    font-size: 2.5em;
  }

  #sidebar a{
    font-size: 2em;
  }

  #sidebar select{
    height: 60px;
    width: 100%;
    font-size: 2em;
  }

  #sidebar form{
    margin-top: 75px;
  }

  #sidebar input[type="text"]{
    height: 100px;
    font-size: 2.5em;
  }

  #sidebar button{
    height: 100px;
    width: 100px;
  }

  #sidebar button i{
    font-size: 2.5em;
  }

  #sidebar .sidebar-btn{
    height: 100px;
    font-size: 2.5em;
  }

  /* Sort Nav */

  .sort-nav{
    height: 100px;
  }

  .sort-nav ul{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .sort-nav li{
    padding: 0 25px;
  }

  .sort-nav li:last-child{
    display: none;
  }

  .sort-nav a{
    font-size: 3em;
  }

  .sort-nav i{
    font-size: 1em;
  }

  .thumbnail{
    width: 150px;
    height: 150px;
  }

  .thumbnail img{
    width: 150px;
    height: 150px;
  }

  .votes i{
    font-size: 3em;
  }

  .votes h3{
    font-size: 2em;
  }

  .article-content{
    height: 150px;
  }

  .article-title h2{
    font-size: 2.3em;
  }

  .comments-sort h2{
    font-size: 2em;
  }

  .comments-sort i{
    font-size: 2em;
  }

  .comments-sort select{
    font-size: 2em;
  }

  .comments-form label{
    font-size: 2em;
  }

  .comments-form-bottom p{
    margin-right: 35px;
    font-size: 2em;
  }

  .comments-form-bottom button{
    font-size: 2.5em;
  }

  .comment-votes i{
    font-size: 2em;
  }

  .parent{
    font-size: 1.8em;
    border-bottom: 4px solid rgb(157, 157, 157);
    border-left: 4px solid rgb(157, 157, 157);
    border-right: 4px solid rgb(157, 157, 157);
  }

  .comment-wrapper{
    border-top: 4px solid rgb(157, 157, 157);
  }

  .comment-content a{
    padding-right: 50px;
    font-size: 1.1em;
  }

  .child{
    border-left: 4px solid rgb(157, 157, 157);
  }

  .reply-box .parent{
    margin-top: 70px;
    border-bottom: 4px solid rgb(157, 157, 157);
  }

  .reply-box .box-close i{
    font-size: 5em;
  }

  #reply_popup{
    width: 100vw;
  }

  #create_subsite h2{
    font-size: 3em;
  }

  #create_subsite p{
    font-size: 1.5em;
  }

  #create_subsite i{
    display: block;
    font-size: 1.3em;
  }

  #create_subsite .block_label {
    font-size: 2.5em;
  }

  #create_subsite .check_label{
    font-size: 1.5em;
  }

  #create_subsite .radio_label{
    font-size: 2em;
  }

}

@media only screen and (max-width: 401px), (min-device-width : 320px) and (max-device-width : 480px) {
  .Checkbox-Container label{
    font-size: 0.8em;
  }
}



